.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

input[type=number] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'AdrianeText';
	src: url("../fonts//AdrianeReg.eot");
	src: url("../fonts//AdrianeReg.eot") format("embedded-opentype"),url("../fonts//AdrianeReg.woff") format("woff"),url("../fonts//AdrianeReg.ttf") format("truetype"),url("../fonts//AdrianeReg.svg") format("svg");
}

.unit,
input[type=number],
select {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p {
	font-family: 'AdrianeText', Georgia, serif;
	font-size: 20px;
	color: white;
}

header p {
	display: none;
	margin-top: 30px !important;
}

footer p {
	margin-top: 20px !important;
}

html,
button,
input,
textarea {
	color: white;
}

body {
	background: #272736;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.container {
	width: 100%;
}

header {
	height: 90px;
	display: block;
	background: #272736;
}

footer {
	height: 100px;
	display: block;
	background: url("../img/pattern.png");
	text-align: center;
}

a {
	background: url("../img/google.png");
	width: 135px;
	height: 44px;
	display: block;
}

.main {
	height: 400px;
	width: 100%;
	display: block;
	background: url("../img/pattern.png");
	text-align: right;
}

.unit {
	height: 120px;
	display: block;
	font-size: 70px;
	font-weight: 300;
	text-align: right;
	padding-right: 5%;
	border-top: 1px solid #424254;
}

.clearfix {
	*zoom: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	background: transparent;
	border: none;
	color: white;
	width: 80%;
	font-size: 130px;
	font-weight: 300;
	height: 250px;
	text-align: right;
	float: left;
	display: block;
	margin-left: 0;
	margin-top: 30px;
}

select {
	float: left;
	display: block;
	border: 0;
	background: transparent;
	-webkit-appearance: none;
	height: 300px;
	width: 17%;
	font-size: 60px !important;
	font-weight: 400 !important;
	color: #272736;
}

img {
	display: block;
	margin: 10px auto;
	width: 300px;
	height: auto;
}

@media all and (min-width: 768px) {

input[type=number] {
	margin-left: 3%;
}

select {
	font-size: 100px !important;
	float: right;
}

}

@media all and (min-width: 1340px) {

header p {
	float: left;
	margin-left: 2% !important;
	display: block;
}

img {
	float: left;
	margin: 10px 0 30px 10%;
}

}

