	/*============ BASE VARIABLES =================*/
	
$root: "../";

$path-css: $root + "stylesheets/";
$path-sass: $path-css + "sass/";
$path-js: $root + "js/";
$path-img: $root + "img/";
$path-fonts: $root + "fonts/";


/*================== COLOURS ====================*/
$heading-blue:#272736;
$light-blue:#424254;
